{% extends 'base.html.twig' %}

{% block body %}
    <div>
        <h3>Saison {{ season.id }} de {{ program.title }}</h3>
        <p>Episode {{ episode.id }} : {{ episode.title }}</p>
        <p>{{ episode.synopsis }}</p>
    </div>

     <h3>Commentaires</h3>
    <div style="display: inline-block">
    {% for comment in comments %}
        <div>
            <h4>{{ comment.author.email }}</h4>
            <p>{{ comment.comment }}</p>
            <p>Rate : {{ comment.rate }}</p>
        </div>
    {% endfor %}
    {% if app.user %}
        <h3>Ajoutez un commentaire</h3>
        {{ form_start(form) }}
        {{ form_widget(form) }}
        <button class="btn">{{ button_label|default('Save') }}</button>
        {{ form_end(form) }}
    {% endif %}
    </div>

{% endblock %}