{% extends "base.html.twig" %}

{% block body %}
    <h1>Bienvenue sur Wild Series !</h1>

    <h3>Les dernières séries</h3>
    <div class="container-fluid" style="display: flex; flex-wrap: wrap">
        {% for program in programs %}
            <div class="card col-4">
                <img style="padding: 10px" src="{{ program.poster }}" class="card-img-top" alt="{{ program.title }}">
                <h4 style="text-align: center">{{ program.title }}</h4>
                <div class="card-body">
                    <p class="card-text">{{program.summary}}</p>
                    <a href="{{ path("program_show", {programSlug: program.slug}) }}">Voir la fiche</a>
                    {% if is_granted("ROLE_ADMIN") or app.user == program.owner %}
                        <a href="{{ path('program_edit', {'slug': program.slug}) }}">Editer</a>
                    {% endif %}
                </div>
            </div>
        {% else %}
            Aucune série trouvée.
        {% endfor %}
    </div>
{% endblock %}